@model RDFMVC.Models.RdfFile
@{
    ViewBag.Title = "File Uploder";
}
<link href="~/Content/Loader1.css" rel="stylesheet" />




<br />
@*Info Messages start*@

<div id="filetype" style="display:none;">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Info!</strong> The file type allowed is .owl
    </div>
</div>

<div id="infosuccess" style="display:none;">
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Info!</strong> File has been uploaded Successfully
    </div>
</div>
<div id="infoerror" style="display:none;">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> Error while uploading.
        <div id="errorId">
        </div>

    </div>
</div>
@*Info Messages End*@
<br />
 
        <div class="panel panel-primary">

            <div class="panel-heading"> <i class="glyphicon glyphicon-picture"></i>  File Uploader</div>
            <div class="panel-body">
                @*Loading Image*@
                @*<div id="wait1" style="display:none;width:200px;height:200px; position:absolute;top:50%;left:50%;padding:2px;"><img src='~/Images/8pm76v.gif' width="200" height="200" /><br>Loading..</div>*@

                <div id="wait" style="display:none;width:100px;height:100px; position:absolute;top:50%;left:50%;">
                    <div id="cssload-pgloading">
                        <div class="cssload-loadingwrap">
                            <ul class="cssload-bokeh">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
                @*Upload*@
                <input type="file" id="Uploader" />
                <hr />
                @*CheckBoxFor IsPublic*@
                @Html.LabelFor(m => m.IsPublic)
                @Html.CheckBoxFor(m => m.IsPublic)
                <br /> 
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 input-group">
                <button id="btn_Uploader" type="submit" class="btn btn-primary" aria-label="Left Align">
                    <span class="fa fa fa-pencil-square-o" aria-hidden="true"> </span> Upload
                </button>
            </div>
        </div>

 

        @section Scripts {
            <script>

                $(document).ajaxStart(function () {
                    $("#wait").css("display", "block");
                });
                $(document).ajaxComplete(function () {
                    $("#wait").css("display", "none");
                });


                $("#btn_Uploader").click(function () {
                    var data = new FormData();
                    var files = $("#Uploader").get(0).files;
                    var IsPublis = $("#IsPublic").is(':checked');
                    if (files.length > 0) {
                        data.append("MyFile", files[0]);
                        data.append("IsPublic", IsPublis)
                    }

                    $.ajax({
                        url: "/UploadFile/Upload",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: data,
                        success: function (response) {

                            if (response == "false") {
                                $("#filetype").show();
                            } else {
                                //code after success
                                $("#infosuccess").show();
                                setTimeout(function () {
                                    $("#infosuccess").remove();
                                }, 5000);
                            }
                        },
                        error: function (er) {
                            $("#infoerror").show();
                            $("#errorId").text(er);
                            setTimeout(function () {
                                $("#infoerror").remove();
                            }, 5000);
                            alert(er);
                        }

                    });

                });

            </script>
        }
