@{
    ViewBag.Title = "About";
}


 <h3> Sparql Query Ver 1.5 </h3>
<hr/>
<p>Simple website to use RDF/OWl Query.</p>
<p>In this application,I have used <a href="https://www.dotnetrdf.org/">dotnetrdf API</a>.</p>
<p>Code Source <a href="https://github.com/Alaeddinalhamoud">GitHub</a>.</p>
<p>For more details <a href="http://www.a-hamoud.com/Home/index">a-hamoud.com</a>.</p>
