@{
    ViewBag.Title = "About Sparql Query";
}


 <h3> Sparql Query 2.0</h3>
<hr/>
<p>Simple website to use RDF/OWl Query.</p>
<p>In this application,I have used <a href="https://www.dotnetrdf.org/">dotnetrdf API</a>.</p>
<p>Source Code <a href="https://github.com/Alaeddinalhamoud/Sparql-Query-Using-dotNetRDF">GitHub</a>.</p>
<p>For more details <a href="http://www.a-hamoud.com/Home/index">a-hamoud.com</a>.</p>
