@{
    ViewBag.Title = "Sparql Query Ver 1.5";
}

<div class="jumbotron">
    <h1>RDF/OWL Query</h1>
    <p class="lead">Simple web solution, similar to Apache Jena <a href="https://jena.apache.org/documentation/fuseki2/index.html">Fuseki</a>, you can upload your file(OWL) to use the query.</p>
    <p><a href="~/RDFQuery/Index" class="btn btn-primary btn-lg">Query &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How to do?</h2>
        <p>
            Just upload your owl file using this <a href="~/UploadFile/Index"> Rdf Files page </a> the following step use the <a href="~/RDFQuery/Index">Query</a> . 
        </p>
 
    </div>
    <div class="col-md-4">
        <h2>dotNetRDF</h2>
        <p>An Open Source .NET Library for RDF</p>
        <p>dotNetRDF is...</p>
        <p>complete library for parsing, managing, querying and writing RDF.</p>
        <p>common .NET API for working with RDF triple stores such as AllegroGraph, Jena, Stardog and Virtuoso.</p>
 
        <p><a class="btn btn-default" href="https://www.dotnetrdf.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Future Plans</h2>
        <p>Query End-Point.</p>
        <p>In the next versions will be private datasets for each user</p>
        <p>Query for more file types (ttl, etc.)</p>
    </div>
</div>